.photo-grid__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    list-style-type: none;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .photo-grid__list {
        grid-template-columns: 1fr;
        gap: 12px;
    }
}