.photo-grid {
    max-width: 1184px;
    padding: 92px 48px 0;
    margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid {
        padding: 88px 24px 0;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        padding: 64px 16px 0;
    }
}