.cover__subtitle {
    position: relative;
    padding-top: 32px;
    margin: 0 auto;
    max-width: 360px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        padding-top: 16px;
        font-size: 14px;
        line-height: 1.14;
    }
}