.footer__links {
    margin: 0;
    padding: 0 0 24px 0;
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, max-content));
    gap: 18px;
    align-items: start;
    list-style-type: none;
}

@media screen and (max-width: 767px) {
    .footer__links {
        max-width: 186px;
        padding-bottom: 24px;
        grid-template-columns: none;
        grid-template-rows: repeat(5, minmax(min-content, max-content));
        gap: 32px;
        list-style-type: none;
    }
}