.places__place {
    margin: 0;
    padding-bottom: 80px;
    display: grid;
    align-items: end;
    grid-template-columns: 460px 1fr;
    grid-template-rows: 1fr;
    gap: 48px 40px;
    grid-template-areas: "title website" "image paragraph";
}

.places__place:last-of-type {
    padding-bottom: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .places__place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places__place {
        padding-bottom: 73px;
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 767px) {
    .places__place {
        padding-bottom: 50px;
        gap: 0;
        grid-template-columns: minmax(0, 1fr);
        grid-template-areas: "title" "website" "image" "paragraph";
    }
}