.cover__title {
  position: relative;
  margin: 0;
  max-width: 560px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 252px;
    font-size: 32px;
    line-height: 1.09;
  }
}
