.places__url-heading {
    margin: 0;
    padding-bottom: 12px;
    max-width: 456px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}

@media screen and (max-width: 767px) {
    .url-heading {
        margin: 0 12px;
    }
}