.intro__title {
    margin: 0;
    max-width: 690px;
    left: 148px;
    top: 1233px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro__title {
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .intro__title {
        max-width: 100%;
        font-size: 32px;
        line-height: 1.09;
    }
}